@-webkit-keyframes benzene-slide-left {
  0% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes benzene-slide-left {
  0% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes benzene-slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}

@keyframes benzene-slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}

.notification-benzene {
  position: fixed;
  top: 30%;
  right: 3rem;
  z-index: 99999;
  display: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  min-height: 3rem;
  max-width: 18rem;
  font-weight: bold;
  font-size: 0.815rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.25rem 0.5rem 0;
}

.notification-benzene.slide-left {
  -webkit-animation: benzene-slide-left 0.4s forwards;
          animation: benzene-slide-left 0.4s forwards;
}

.notification-benzene.slide-right {
  -webkit-animation: benzene-slide-right 0.4s forwards;
          animation: benzene-slide-right 0.4s forwards;
}

.notification-benzene i {
  margin: 0 0.375rem;
}

.notification-benzene.error {
  border-left: 0.3rem solid #dd250dd8;
  color: #dd250dd8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notification-benzene.error i {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 40px;
}

.notification-benzene.error i::before, .notification-benzene.error i::after {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 3px;
}

.notification-benzene.error i::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.notification-benzene.success {
  border-left: 0.3rem solid #1ea11e;
  color: #1ea11e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notification-benzene.success i {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 99px;
  border: 2px solid #1ea11e;
}

.notification-benzene.success i::after {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-color: #1ea11e;
  border-width: 0 2px 2px 0;
  border-style: solid;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#form-benzene {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px;
  background: #4e3284;
}

#form-benzene input:focus, #form-benzene textarea:focus {
  outline: none;
}

#form-benzene input:disabled, #form-benzene textarea:disabled {
  background: #2f2641b4;
  cursor: not-allowed;
}

#form-benzene input:disabled::-webkit-input-placeholder, #form-benzene textarea:disabled::-webkit-input-placeholder {
  color: #cccccc;
}

#form-benzene input:disabled:-ms-input-placeholder, #form-benzene textarea:disabled:-ms-input-placeholder {
  color: #cccccc;
}

#form-benzene input:disabled::-ms-input-placeholder, #form-benzene textarea:disabled::-ms-input-placeholder {
  color: #cccccc;
}

#form-benzene input:disabled::placeholder, #form-benzene textarea:disabled::placeholder {
  color: #cccccc;
}

#form-benzene input::-webkit-input-placeholder, #form-benzene textarea::-webkit-input-placeholder {
  color: #cccccc;
}

#form-benzene input:-ms-input-placeholder, #form-benzene textarea:-ms-input-placeholder {
  color: #cccccc;
}

#form-benzene input::-ms-input-placeholder, #form-benzene textarea::-ms-input-placeholder {
  color: #cccccc;
}

#form-benzene input::placeholder, #form-benzene textarea::placeholder {
  color: #cccccc;
}

#form-benzene input {
  height: 2.25rem;
  border: none;
  border-radius: 99px;
  background: #9b87c2ab;
  margin-bottom: 0;
  color: #fff;
  padding: 0 0.75rem;
}

#form-benzene input[type='number']::-webkit-outer-spin-button, #form-benzene input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#form-benzene input[type='number'] {
  -moz-appearance: textfield;
}

#form-benzene label {
  margin: 0.75rem 0 0.25rem 0.25rem;
  font-size: 0.875rem;
  color: white;
}

#form-benzene label:nth-child(1) {
  margin-top: 0;
}

#form-benzene label span {
  color: #fc4545;
  font-weight: bold;
}

#form-benzene textarea {
  height: 100px;
  border-radius: 10px;
  margin-bottom: 12px;
  border: none;
  background: #9b87c2ab;
  color: #fff;
  resize: none;
  padding: 0.5rem 0.75rem;
}

#form-benzene span {
  color: #2dd5ff;
  font-size: 10px;
}

#form-benzene button[type="submit"] {
  border: none;
  outline: none;
  cursor: pointer;
  height: 2.25rem;
  width: 8.75rem;
  border-radius: 99px;
  margin: 0 auto;
  margin-top: 1rem;
  background: #fd6620;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

#form-benzene button[type="submit"]:hover {
  background: #e94a00;
}

#form-benzene button[type="submit"]:disabled {
  background: #2f2641b4;
  cursor: not-allowed;
}

#form-benzene button[type="submit"] span {
  color: #fff;
  font-size: 16px;
}

#form-benzene button[type="submit"] span[loading-spiner] {
  display: none;
}

#form-benzene button[type="submit"] span svg path, #form-benzene button[type="submit"] span svg rect {
  fill: #ff5100;
}
/*# sourceMappingURL=form.css.map */